body {
  margin: 5% 10%;
  background-color: rgb(29,161,242);
}

body h1 {
  color: rgb(52, 75, 244);
}

body > header {
  margin-bottom: 5%;
}

article.media-post > p {
  background-color: rgba(0, 255, 8, 0.25);
  padding: 1em 2em;
}

article.media-post > header {
  padding: 1em 2em;
  background-color: rgb(225,232,237);
}

article.media-post > footer {
  color: rgb(170,184,194);
}

article.media-post > footer ul {
  list-style-type: none;
}
